<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <div class="main-header-top-bar">
            <a class="logo" href="/"><img src="img/logo-mercado-liebre.svg" alt="logo"></a>
            <div class="buscador">
                <input class="input" type="search" placeholder="Buscar productos, marcas">
                <div class="lupa"><i class="fa fa-search"></i></div>
            </div>
            <p class="copy-header"> <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito
            </p>
        </div>
        <nav>
            <ul class="left-navbar">
                <li>
                    <a href="#">Ofertas</a>
                </li>
                <li>
                    <a href="#">Tiendas Oficiales</a>
                </li>
                <li>
                    <a href="#">Vender</a>
                </li>
                <li>
                    <a href="#">Ayuda</a>
                </li>
            </ul>
            <ul class="right-navbar">
                <li>
                    <a href="/register">Creá tu cuenta</a><i class="far fa-id-card"></i>
                </li>
                <li>
                    <a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i>
                </li>
                <li>
                    <a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i>
                </li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main id="formulario-registro">
        <form class="formularios" action="/" method="get">
            <div>
                <input class="text-field" type="text" name="nombreCompleto" placeholder="Nombre y apellido">
            </div>
            <div>
                <input class="text-field" type="text" name="usuario" placeholder="Nombre de usuario">
            </div>
            <div class="fechaDeNacimiento">
                <label for="nacimiento">Fecha de nacimiento</label>
                <input type="date" id="nacimiento" name="nacimiento">
            </div>
            <div>
                <input class="text-field" type="email" name="email" placeholder="E-mail">
            </div>
            <div>
                <input class="text-field" type="text" name="domicilio" placeholder="Domicilio">
            </div>
            <h3 class="titulos">Tipo de perfil</h3>
            <div class="selecciones">
                <div>
                    <input type="radio" name="perfil" value="comprador" id="comprador">
                    <label for="comprador">Comprador</label>
                </div>
                <div>
                    <input type="radio" name="perfil" value="vendedor" id="vendedor">
                    <label for="vendedor">Vendedor</label>
                </div>
            </div>
            <h3 class="titulos">Intereses</h3>
            <div class="selecciones">
                <div>
                    <input type="checkbox" name="interes" value="electro" id="electro">
                    <label for="electro">Electro</label>
                </div>
                <div>
                    <input type="checkbox" name="interes" value="moda" id="moda">
                    <label for="moda">Moda</label>
                </div>
                <div>
                    <input type="checkbox" name="interes" value="hogar" id="hogar">
                    <label for="hogar">Hogar</label>
                </div>
                <div>
                    <input type="checkbox" name="interes" value="jugueteria" id="jugueteria">
                    <label for="jugueteria">Jugueteria</label>
                </div>
                <div>
                    <input type="checkbox" name="interes" value="vidaSana" id="vidaSana">
                    <label for="vidaSana">Vida sana</label>
                </div>
            </div>
            <div class="fotoPerfil">
                <label for="foroPerfil">Foto de usuario</label>
                <input type="file" name="fotoPerfil" id="fotoPerfil">
            </div>
            <div>
                <input class="text-field" type="password" name="constrasenia" placeholder="Contraseña">
            </div>
            <div>
                <input class="text-field" type="password" name="contraseniaConfirmar" placeholder="Confirmar contraseña">
            </div>
            <div>
                <a href="/login">¿Ya tenés cuenta? Ingresá</a>
            </div>
            <div>
                <button class="botonForm botonSubmit" type="submit">Enviar</button>
                <button class="botonForm botonReset" type="reset">Cancelar</button>
            </div>
        </form>
    </main>
    <footer>
        <article class="foot">
            <i class="fas fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article class="foot">
            <i class="fas fa-gift"></i>
            <h4>Envío gratis desde $2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article class="foot">
            <i class="fas fa-user-shield"></i>
            <h4>Seguridad de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </article>
        <article>
            <p class="cp">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </article>
    </footer>
</body>

</html>